# core
numpy
python-dotenv
tqdm

# llm
openai
transformers
accelerate
tiktoken
sentence-transformers

# nlp
spacy

# graph
neo4j

# vector search
faiss-cpu

# clustering (summary tree)
umap-learn
scikit-learn

# evaluation
rouge
pandas
ragas
langchain-openai
datasets
nest-asyncio
